/* By Sindre Sorhus

    https://github.com/tastejs/todomvc-app-css

Edits:
    Replaced all rules with ids but #todoapp to uses class names
    Replaced the input checkbox with a checked class instead
*/
html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.Slide0 {
    padding: 0.5em;
    font-size: 6em;
    line-height: 1em;
    text-align: center;
}

.Slide1 input,
.Slide2 input {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.Slide1,
.Slide2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}


td {
    text-align: left;
}

table {
    align: center;
}

.Slide3, .Slide4, .Slide5 {
    margin-left: 100px;
    text-align: left;
}

body {
    text-align: center;
    font: 18px 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    /* max-width: 550px; */
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

